.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin-bottom: 10px;
}

.go-to-library {
    font-size: 20px;
    padding: 15px;
    margin-top: 35px;
    box-shadow: 1px 1px lightblue;
    cursor: pointer;
    transition: 0.5s;
}

.go-to-library:hover {
    background-color: whitesmoke;
}


@media only screen and (max-width: 800px) {
    .about-page {
        padding: 35px;
    }
}