.why {
    display: flex;
    justify-content: center;
    border: black 1px solid;
    padding: 10px;
}

.info-card-border-color {
    padding: 15px;
    transition: 0.5s;
}

.info-card-border-color:hover {
    text-shadow: 1px 5px lightblue;
}