.cards-title {
    display: flex;
    justify-content: center;
}

.launch-pad-border {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 50px
}

@media only screen and (max-width: 800px) {
    .launch-pad-border {
        display: flex;
        justify-content: center;
        flex-direction: column;
        }
}