.card-border {
    display: flex;
    justify-content: center;
    padding: 35px;
    font-size: 19px;
    cursor: pointer;
    transition: 0.5s;
}

.card-border:hover {
    text-decoration: 2px underline lightblue;
}

@media only screen and (max-width: 800px) {
    .card-border {
        display: flex;
        justify-content: left;
        font-size: 15px;
        padding: 10px;
        margin-top: 25px;
        margin-right: 90px;
        text-decoration: 2px underline lightblue;
    }
}