.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    background-color: whitesmoke;
    box-shadow: 1px 1px #fff;
}

.header-title {
    display: flex;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 40px;
}

.about {
    display: flex;
    justify-content: right;
    grid-column-start: 3;
    grid-column-end: 3;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .header-title {
        font-size: 15px;
        margin-top: 20px;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .about {
        font-size: 15px;
    }
}