@font-face {
font-family: 'Bank Gothic Light';
font-style: normal;
font-weight: normal;
src: local('Bank Gothic Light'), url('ufonts.com_bank-gothic-light.woff') format('woff');
}

body {
  font-family: "Bank Gothic Light";
}

a {
  text-decoration: none ;
  color: black;
}