.Links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 50px;
}

.rockets {
    display: flex;
    justify-content: center;
    border: black 1px solid;
}