.all-information {
    display: flex;
    justify-content: center;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 65px;
}

.link {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 75px;
}

.welcome {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 75px;
}

.all-rockets {
    display: flex;
    position: absolute;
    margin-top: 40px;
    box-shadow: 1px 1px black;
    padding: 10px;
    font-size: 20px;
}

@media only screen and (max-width: 800px) {
    .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .link {
        font-size: 20px;
    }
}